.bg-white {
  background-color: #fff;
}
.box-auth {
  height: 100vh;
  width: 70%;
}
.image {
  width: 70%;
  height: auto;
  border: 125px;
}

.flex-1 {
  flex: 1;
}

.full-width {
  width: 100%;
}

@media (max-width: 1024px) {
  .image-section {
    flex: 0;
  }
}
